{{define "base"}}
<html>
  <head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <!-- build:css styles/main.css -->
  <!-- Latest compiled and minified CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/main.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- endbuild -->
  {{template "head" .}}
</head>
  <body>
  <nav class="navbar navbar-default navbar-white navbar-fixed-top top-nav-fat" role="navigation" id="main-navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed hidden-xs" data-toggle="collapse" data-target="#main-navigation-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">ComposeHub</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/composehub/cli#readme" class="xs-hidden hidden-xs">Github</a></li>
      </ul>
    </div><!-- /.container -->
  </nav>


  <div id="content">
    <div role="tablist" aria-multiselectable="true" id="accordion">
      <section id="home" role="tab">
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <p class="close-icon">
          <a id="collapse-link" role="button"
             href="" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-times fa-2x"></i></a>
          </p>
          <div class="container">
            <div class="col-md-12">
              <div class="home-banner">
                <div class="home-text-section">
                  <div class="banner-text text-center">
                    <h1>
                      <span class="main-tag-line">ComposeHub a package manager for docker apps</span><br>
                      <span class="support-line">Making it easy to discover and publish apps based on docker-compose.</span>
                      <span class="support-line hide">
                          curl -L https://github.com/docker/compose/releases/download/VERSION_NUM/docker-compose-`uname -s`-`uname -m` > /usr/local/bin/docker-compose
                      </span>
                    </h1>
                  </div>
                  <div id=video-promo>
                      <video controls autoplay muted loop id=video-promo>
                          <source src="/composehub.webm" type="video/webm">
                          <source src="/composehub.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                      </video>
                  </div>
                  <div class="code-preview">
                      <pre>
<span id="darwin-install">L=/usr/local/bin/ch curl -L https://composehub.com/install/darwin > $L && chmod +x $L</span>
<span id="linux-install">L=/usr/local/bin/ch curl -L https://composehub.com/install/linux > $L && chmod +x $L</span>
<span id="windows-install">curl -L https://composehub.com/install/windows > /usr/local/bin/ch</span>
                      </pre>
                  </div>

                  <div class="code-preview hide">
                      <pre>
<span class="prompt">$ ch search gitlab</span> 
<span>Searching for gitlab on https://composehub.org...</span>
<span>gitlab: Create, review and deploy code together (by patcito)</span>
<span>found 1 package</span>
                      </pre>
                  </div>
<div class="code-preview hide">
<pre>
<span class=prompt>$ ch run gitlab</span>
<span>Cloning into &#39;.&#39;</span>
<span>remote: Counting objects: 7, done.</span>
<span>remote: Total 7 (delta 0), reused 0 (delta 0), pack-reused 7</span>
<span>Unpacking objects: 100% (7/7), done.</span>
<span>...</span>
<span>Running app. Open http://localhost:10080</span>
</pre></div>
                </div>
              </div>

            </div>
          </div>
                    <div class="banner-box">
                    <div class="col-lg-8 col-md-7 box-text">
                        Search, install, run and publish docker apps in seconds.
                    </div>
                    <div class="col-lg-4 col-md-5">
                      <a href="https://github.com/composehub/cli#readme" class="btn btn-box btn-block btn-lg">see how it works</a>
                    </div>
                  </div>

      </div>

        <div class="home-search-section">
          <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1 search-label-wrap">
              <div class="label-for-search col-md-4 clearfix">
                <h5>LOOKING FOR A NEW APP?</h5>
              </div>
              <div class="col-md-8">
                <div class="search-input-wrap">
                  <form action="/hsearch" method="GET">
                    <div class="form-group has-feedback">

                      <input type="text" class="form-control form-search" placeholder="Find Packages" name="q">
                      <span class="fa fa-search fa-lg form-control-feedback" id="q" aria-hidden="true"></span>
                      <span id="inputSuccess2Status" class="sr-only">(search)</span>
                    </div>
                  </form>
                  <div id="dropdownsearchlist" class="result-for-events">
                    <div class="label-for-search"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    {{template "body" .}}
    <footer id="footer">
      <div class="footer-top"></div>
      <div class="footer-bottom">
          <p class="footer-text">ComposeHub is brought to you by <a href="https://start.eventlama.com">Eventlama</a>. <a href="http://www.github.com/composehub/chm">Source</a>. Copyright 2015</p>
      </div>
    </footer>
  <script>
if (localStorage.collapseJumbotron) {
$('#collapseOne').hide()
}
$("#collapse-link").click(function(event){
$('#collapseOne').collapse()
localStorage.setItem("collapseJumbotron", "true");
event.preventDefault()
return false;
});
$(function(){
         var os = navigator.platform;
         if (os.indexOf("Linux")>-1){
            $("#linux-install").show();
         return;
         } else if (os.indexOf("Mac")>-1){
            $("#darwin-install").show();
         return;
         } else if (os.indexOf("Win")>-1){
            $("#windows-install").show();
         return;
         }
         })
  </script>
  </body>
  </html>
  {{end}}
