{{define "head"}}<title>ComposeHub</title>{{end}}
{{define "body"}}
<section id="header">
  <div class="container">
    <h2 class="title-header">
      Top compositions
    </h2>
    <div class="row header-features first">
      {{range $index, $element  := .Packages}}
      <div class="col-md-4">
        <div class="row feature-item">
          <div class="col-md-2 icon col-xs-1">
            <div class="number-circle">{{$index}}</div>
          </div>

          <div class="col-md-10 text col-xs-11">
            <h3><a href="/package/{{.Name}}">{{.Name}}</a> </h3>
            <p>
            {{.Blurb}}
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{end}}
