{{define "head"}}<title>ComposeHub - {{.Package.Name}}</title>{{end}}
{{define "body"}}
  <section id="package">
    <div class="container">
      <h2 class="package-title">
        Package info
      </h2>

      <div class="col-md-8">

        <div class="wrapper-package-header clearfix">
          <div class="package-circle">
            {{.Package.TotalDownloads}}
            <div class="text-circle">Downloads</div>
          </div>

          <div class="package-header">
            <span class="title-package">{{.Package.Name}}</span>
            <span class="label label-default label-package">Public</span>
            <div class="small-text-package">
              By <a href="/~{{.User.Handle}}">{{.User.Handle}}</a></a>
            <span>|</span>
            <span> <i class="fa fa-clock-o"></i>&nbsp;{{.Package.UpdatedAt}}</span>
            <span class=hide>|</span>
            <span class=hide><i class="fa fa-comments"></i> 32</span>
          </div>
        </div>
      </div><!-- ./wrapper-package-header -->


      <p class="package-description">
      {{.Package.Description}}
      </p>
    </div>

    <div class="col-md-4 package-sidebar">

      <div class="composehub-install-wrapper">
        <span class="fa fa-download"></span>
        <span class="composehub-install">composehub install {{.Package.Name}}</span>

      </div>

      <ul class="box publisher">
        <li class="last-publisher">
        <a href="/~{{.User.Handle}}">
          <img src="{{gravatar .User.Email "20"}}" alt="last publisher">
          <span><a href="/~{{.User.Handle}}">{{.User.Handle}}</a></span>
        </a>
        published
        <span>{{.Package.UpdatedAt}}</span>
        </li>

        <li class=hide>
        <strong>4.13.3</strong>
        is the latest of 272 releases
        </li>

        <li>
        <a href="{{.Package.RepoUrl}}">{{.Package.RepoUrl}}</a>
        </li>
        <li class=hide>
        <a href="#">MIT</a>
        <span> license</span>
        </li>
      </ul>

      <div class="box stats hide">
        <h5>Stats</h5>
        <ul>
          <li>
          <strong>112,967</strong>
          downloads in the last day
          </li>
          <li>
          <strong>739,490</strong>
          downloads in the last week
          </li>
          <li>
          <strong>3,054,409</strong>
          downloads in the last month
          </li>
          <li id="issues">
          <span id="enhanced">
            <a href="#">57 open issues</a> on GitHub
          </span>
          </li>
          <li id="pull-requests">
          <a href="#">25 open pull requests</a> on GitHub
          </li>
        </ul>
      </div>

      <div class="box dependencies hide">
        <h5>Dependencies (5)</h5>
        <p class="list-of-links">
        <a href="#">vary</a>,
        <a href="#">utils-merge</a>,
        <a href="#">type-is</a>,
        <a href="#">serve-static</a>,
        <a href="#">send</a>
        </p>
      </div>
      <div class="box categories hide">
        <h5>Tags</h5>

        <ul>
          <li><a href="#">Technology</a></li>
          <li><a href="#">Websites</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Theme</a></li>
          <li><a href="#">Illustration</a></li>
          <li><a href="#">Wordpress</a></li>
        </ul>

      </div>

      <div class="box tags">

        <h5>Tag Cloud</h5>

        <div class="tag-cloud">
          {{range $index, $element  := split .Package.Tags}}
          <a href="/hsearch?q={{$element}}">{{$element}}</a>
          {{end}}
          <!--<ul>
                                    <li>{{.Package.Tags}}</li>
                                </ul>-->
        </div>

      </div>



      <!-- Index:
<h1>{{.Package.Name}}</h1>
<ul>
  <li>
  {{.Package.Description}}
  </li>
  <li>
  Published on {{.Package.UpdatedAt}}
  </li>
  <li>Author: <a href="/~{{.User.Handle}}">{{.User.Handle}}</a></li>
  <li>Downloads: {{.Package.TotalDownloads}}</li>
  <li>Tags: {{.Package.Tags}}</li>
</ul> -->

    </div>
  </div>
</section>
{{end}}
