{{define "head"}}<title>ComposeHub - {{.User.Handle}}</title>{{end}}
{{define "body"}}
<section id="user">
  <div class="container">

    <div class="col-md-8">
      <span class="user-name">{{.User.Handle}}</span>

      <p class="spacer">__</p>

      <span class="user-package-qty">{{.Length}} packages by {{.User.Handle}}</span>

      <ul class="user-packages-list">
        {{range .Packages }}
        <li>
        <a href="/package/{{.Name}}">{{.Name}}</a>
        <strong class=hide>v4.1.0</strong>
        <span class="user-package-description"> - {{.Blurb}}</span>
        </li>
        {{end}}
        <a href="#" class="hide btn btn-packages btn-block btn-lg">view more packages</a>
      </ul>

    </div>

    <div class="col-md-4">

      <ul class="user-box">
        <li class="user-img">
        <a href="/~{{.User.Handle}}">
          <img src="{{gravatar .User.Email "200"}}" alt="author">
        </a>
        </li>
        <li>
        <span class="user-name-box">
          <a href="/~{{.User.Handle}}">{{.User.Handle}}</a>
        </span>
        </li>

        <li>
        <a href="#">patcito@gmail.com</a>
        </li>

        <li>
        <a href="#">patcito</a> on freenode
        </li>
        <li>
        <a href="#">patcito.net</a>
        </li>
        <li>
        <a href="#">@patcito</a> on GitHub
        </li>

        <li>
        <a href="#">@patcito</a> on Twitter
        </li>
        <li>
        <a href="#" class="active">@patcito</a> on npm
        </li>

      </ul>

      <!-- User {{.User.Handle}}:
<form action="/hsearch" method=GET>
  <input type=search name=q>
  <input type=submit>
</form>
{{range .Packages}}
<a href="/package/{{.Name}}">{{ .Name }} {{.TotalDownloads}}</a></br>
{{ end }} -->



    </div>
  </div> 
</section>
{{end}}
